<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "BaseMaxContent",
});
</script>

<template>
  <div class="max-w-[80rem] w-full mx-auto">
    <slot />
  </div>
</template>
