<script lang="ts">
import Vue from "vue";
import { yandexMap, ymapMarker } from "vue-yandex-maps";

export default Vue.extend({
  name: "YandexMap",
  components: {
    yandexMap,
    ymapMarker,
  },
  data() {
    return {
      mapAttrs: {
        coords: [61.3723, 63.5578],
        zoom: 16,
      },
    };
  },
  methods: {
    init() {
      console.log("Map init");
    },
  },
});
</script>

<template>
  <div class="w-full h-full">
    <client-only>
      <yandex-map
        v-bind="mapAttrs"
        class="w-full h-180"
        @map-was-initialized="init"
      >
        <ymap-marker
          :coords="[61.374, 63.5594]"
          :balloon="{
            header: 'Крытый плавательный бассейн «Садко» СДЮСШОР',
          }"
        ></ymap-marker>
      </yandex-map>
    </client-only>
  </div>
</template>
