<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "AppFooter",
  data() {
    return {
      links: [
        {
          name: "Главная",
          to: {
            name: "index",
          },
        },
        {
          name: "Статистики",
          to: {
            name: "statistics",
          },
        },
        {
          name: "Спортивные комплексы",
          to: {
            name: "sport-complex",
          },
        },
      ],
    };
  },
});
</script>

<template>
  <div class="w-full text-white">
    <div class="flex items-center">
      <div class="flex flex-col">
        <NuxtLink to="/" class="flex items-center">
          <div class="w-10 h-10">
            <img
              src="@/assets/img/logo-white.png"
              class="w-full h-full object-cover"
            />
          </div>
          <h2 class="ml-3 text-xl font-semibold">Спорт комплексы</h2>
        </NuxtLink>
      </div>

      <div class="flex items-center ml-auto">
        <div
          v-for="(link, index) in links"
          :key="index"
          class="first:ml-0 ml-6"
        >
          <NuxtLink
            :to="link.to"
            class="text-sm font-medium hover:text-cl-primary transition-colors"
            >{{ link.name }}</NuxtLink
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col w-1/2 mt-4 pb-2 border-b">
      <h2 class="text-sm">
        Подробные информации и статистика по деятельности о каждом спортивном
        заведении на территории РФ
      </h2>
    </div>
    <p class="mt-2 text-xs">
      Разработчик: Сейитмурад Гелдиев <br />
      Адрес: Ашхабад, Туркменистан <br />
      Тел. номер: +99365 44-91-88
    </p>
    <h2 class="mt-4 text-right text-xs">© 2023 Sport Complex, Inc.</h2>
  </div>
</template>
