<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "AppHeader",
  data() {
    return {
      links: [
        {
          name: "Главная",
          to: {
            name: "index",
          },
        },
        {
          name: "Статистики",
          to: {
            name: "statistics",
          },
        },
        {
          name: "Спортивные комплексы",
          to: {
            name: "sport-complex",
          },
        },
      ],
    };
  },
});
</script>

<template>
  <div class="flex items-center w-full">
    <NuxtLink to="/" class="flex items-center">
      <div class="w-10 h-10">
        <img src="@/assets/img/logo.png" class="w-full h-full object-cover" />
      </div>
      <h2 class="ml-3 text-[22px] text-cl-main font-semibold">
        Спорт комплексы
      </h2>
    </NuxtLink>
    <div class="flex items-center ml-auto">
      <div v-for="(link, index) in links" :key="index" class="first:ml-0 ml-6">
        <NuxtLink
          :to="link.to"
          class="pb-2 hover:border-b border-cl-main text-md font-medium hover:text-cl-main transition-colors"
          exact-active-class="text-cl-main border-b border-cl-main"
          >{{ link.name }}</NuxtLink
        >
      </div>
    </div>
  </div>
</template>
