@import "base/variables";
@import "base/typography";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Playfair Display", Arial, sans-serif;
  color: $cl-text;
  font-size: 16px !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media screen and (min-width: $screen-5xl) {
    font-size: 18px !important;
  }

  @media screen and (min-width: $screen-full-hd) {
    font-size: 19px !important;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: 1.35;

  @media (hover: none) and (pointer: coarse) {
    cursor: default !important;
  }

  @media (hover: none) and (pointer: fine) {
    cursor: default !important;
  }

  @media screen and (max-width: 1024px) {
    cursor: default !important;
  }
}

html {
  @media (hover) {
    ::-webkit-scrollbar {
      height: 6px;
      width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #bbb;
      border-radius: 3px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #234e70;
      border-radius: 3px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #234e70;
    }
  }
}

/* width */

.m-outline-white {
  outline: 1px solid #fff;
}

.m-outline-black {
  outline: 1px solid #000;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s ease;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.scroll-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
