<script lang="ts">
import Vue from "vue";
import YandexMap from "~/components/core/base/YandexMap.vue";
export default Vue.extend({
  components: {
    YandexMap,
  },
});
</script>

<template>
  <div class="text">
    <YandexMap></YandexMap>
  </div>
</template>
