/* latin-regular */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf")
    format("opentype");
}

/* latin-italic */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf")
    format("opentype");
}

/* latin-medium */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf")
    format("opentype");
}

/* latin-medium-italic */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-MediumItalic.ttf")
    format("opentype");
}

/* latin-semibold */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf")
    format("opentype");
}

/* latin-semibold-italic */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.ttf")
    format("opentype");
}

/* latin-bold */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf")
    format("opentype");
}

/* latin-bold-italic */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf")
    format("opentype");
}

/* latin-bold */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf")
    format("opentype");
}

/* latin-bold-italic */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-ExtraBoldItalic.ttf")
    format("opentype");
}

/* latin-black */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf")
    format("opentype");
}

/* latin-black-italic */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("@/assets/fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf")
    format("opentype");
}
