$screen-sm--6: 320px;
$screen-sm--5: 360px;
$screen-sm--4: 400px;
$screen-sm--3: 480px;
$screen-sm--2: 540px;
$screen-sm--1: 600px;
$screen-sm: 640px;
$screen-md--2: 680px;
$screen-md--1: 720px;
$screen-md: 768px;
$screen-lg--1: 960px;
$screen-lg: 1024px;
$screen-xl: 1125px;
$screen-2xl: 1280px;
$screen-3xl: 1366px;
$screen-4xl: 1440px;
$screen-5xl: 1536px;
$screen-6xl: 1680px;
$screen-7xl: 1792px;
$screen-full-hd: 1920px;

$cl-main: #1f53f2;
$cl-main-hover: #2c5ffa;
$cl-main-active: #0c41de;
$cl-main-disabled: #1a50f3cf;

$cl-main-shade: #e0ecff;
$cl-main-shade-hover: #e5efff;
$cl-main-shade-active: #c7d8f4;
$cl-main-shade-disabled: #d4e4fed6;

$cl-box: #f8f9fb;
$cl-stroke: #eeeff3;
$cl-text: #192035;
$cl-passive-text: #50585e;
$cl-purple: #9747ff;
$cl-purple-shade: #e5d1ff;
