<template>
  <div class="w-full h-full">
    <div class="relative w-full h-180 mt-4">
      <div
        class="absolute top-0 left-0 z-1 w-full h-full rounded-xl bg-gradient-to-t from-black/80 to-black/0"
      ></div>
      <img
        src="@/assets/img/home-page.jpg"
        class="absolute top-0 left-0 w-full h-full rounded-xl object-cover"
      />
      <div class="absolute bottom-18 left-12 z-1 w-1/2 text-white">
        <h2 class="text-4xl font-semibold">Спортивные комплексы РФ</h2>
        <p class="mt-2 text-xl">
          Подробные информации и статистика по деятельности о каждом спортивном
          заведении на территории РФ
        </p>
      </div>
    </div>
    <div class="flex mt-7.5 p-6 border rounded-lg">
      <div class="flex flex-col w-1/2">
        <h2 class="text-3xl">Виды спортивных комплексов</h2>
        <p class="mt-4 text-xl">
          В нашем сайте есть информации о <b>{{ totalCount }}</b> спортивных
          комплексов. В этом диаграмме показона сколько спортивных комплексов
          есть по различном видом спорта
        </p>
        <p class="mt-4 text-xl">
          Спорт в России всегда был и остается популярным. Наверное, более
          половины русских в детстве пробовали себя в каком-либо виде спорта. А
          кто-то даже в нескольких видах.
        </p>
        <p class="mt-4 text-xl">
          Так какие же виды спорта наиболее развиты в России? Здесь можно
          заметить следующую закономерность. Россия, как правило, обладает
          хорошими результатами в классических видах спорта. Это в какой-то
          степени связано с периодом Советского Союза, когда физическому
          воспитанию молодежи уделялось большое внимание. Но уроки советской
          школы не прошли даром.
        </p>
      </div>
      <div class="w-1/2">
        <DoughnutChart :sport-complex-type-list="sportComplexTypeList" />
      </div>
    </div>
    <h2 class="mt-12 text-3xl font-semibold">Спортивные комплексы</h2>
    <div class="grid grid-cols-3 gap-x-4 gap-y-6 mt-6">
      <NuxtLink
        v-for="(item, index) in sportComplexList"
        :key="index"
        :to="{
          name: 'sport-complex-id',
          params: {
            id: item.id,
          },
        }"
        class="p-4 border rounded-lg"
      >
        <h2 class="text-sm">{{ item.name_ru }}</h2>
      </NuxtLink>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import type { AxiosResponse } from "axios";
import { ApiSportComplexResponse, ApiSportComplexType } from "@/types";
import DoughnutChart from "@/components/pages/statistics/DoughnutChart.vue";

export default Vue.extend({
  name: "IndexPage",
  components: {
    DoughnutChart,
  },
  async asyncData({ $http }) {
    const response = await Promise.all([
      $http.get<AxiosResponse<ApiSportComplexResponse>>(
        "/api/v1/sport-complex/list"
      ),
      $http.get<AxiosResponse<ApiSportComplexType[]>>(
        "/api/v1/sport-complex/type/list"
      ),
    ]);

    return {
      totalCount: response[0].data.data.total_count,
      sportComplexList: response[0].data.data.list,
      sportComplexTypeList: response[1].data.data,
    };
  },
  data() {
    return {
      totalCount: 0,
      sportComplexList: [],
      sportComplexTypeList: [],
    };
  },
});
</script>
