<script lang="ts">
import Vue from "vue";
import { Chart } from "chart.js";
import type { ChartItem } from "chart.js";
import type { PropType } from "vue";
import type { ApiSportComplexType } from "@/types";

export default Vue.extend({
  name: "DoughnutChart",
  props: {
    sportComplexTypeList: {
      type: Object as PropType<ApiSportComplexType[]>,
      required: true,
    },
  },
  mounted() {
    const ctx = this.$refs["doughnut-chart"] as ChartItem;
    Chart.defaults.font.family = "Playfair Display";

    const labels = this.sportComplexTypeList.reduce(
      (acc: string[], curValue: ApiSportComplexType) => {
        if (curValue.name) {
          return [...acc, curValue.name];
        }
        return acc;
      },
      []
    );
    const data = this.sportComplexTypeList.reduce(
      (acc: number[], curValue: ApiSportComplexType) => {
        if (curValue.count) {
          return [...acc, curValue.count];
        }
        return acc;
      },
      []
    );
    const bgColors = [
      "#05ced3",
      "#99d59e",
      "#f083ac",
      "#2a56bf",
      "#4c3a81",
      "#ffff00",
      "#ff4600",
      "#feb300",
      "#ff7f00",
      "#ba00ff",
      "#615b6e",
      "#d8365f",
      "#ed6fff",
      "#aa8c8c",
      "#41f144",
      "#483bd2",
      "#04b5de",
      "#05bff1",
      "#263121",
      "#8417a7",
    ];

    console.log(bgColors.length);

    const chart = new Chart(ctx, {
      type: "doughnut",
      data: {
        labels,
        datasets: [
          {
            data,
            backgroundColor: bgColors,
          },
        ],
      },

      plugins: [
        {
          id: "custom-center",
          beforeDraw: this.beforeDraw,
        },
      ],

      options: {
        cutout: "70%",
        animation: {
          animateRotate: true,
        },
        plugins: {
          legend: {
            display: false,
          },
          tooltip: {
            displayColors: false,
            cornerRadius: 0,
            titleFont: {
              size: 14,
            },
            padding: 15,
            bodyFont: {
              size: 45,
            },
            callbacks: {
              title: (tooltipItem) => {
                return tooltipItem[0].label as string;
              },
              label: (tooltipItem) => {
                return tooltipItem.raw as string;
              },
            },
          },
        },
      },
    });

    this.$once("hook:beforeDestroy", () => {
      chart.destroy();
    });
  },
  methods: {
    beforeDraw(chart: any) {
      const total = this.sportComplexTypeList.length;

      const width = chart.width;
      const height = chart.height;
      const ctx = chart.ctx;
      ctx.restore();
      ctx.beginPath();
      ctx.fillStyle = "rgba(0,0,0, 0.07)";
      ctx.arc(width / 2, height / 2, width / 3.5, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();
      ctx.fillStyle = "#797991";
      const textSize = (height / 350).toFixed(2);
      ctx.font = textSize + "em Playfair Display, sans-serif";
      ctx.textBaseline = "middle";
      const text = "Количество";
      const textX = Math.round((width - ctx.measureText(text).width) / 2);
      const textY = (height / 2.5).toFixed(2);
      ctx.fillText(text, textX, textY);
      ctx.fillText(
        "видов спортивных",
        Math.round((width - ctx.measureText("видов спортивных ").width) / 2),
        (height / 2.2).toFixed(2)
      );
      ctx.fillText(
        "комплексов",
        Math.round((width - ctx.measureText("комплексов").width) / 2),
        (height / 1.97).toFixed(2)
      );

      ctx.fillStyle = "rgb(0,0,0)";
      const totalSize = (height / 140).toFixed(2);
      ctx.font = "bold " + totalSize + "em Playfair Display, sans-serif";

      const totalX = Math.round((width - ctx.measureText(total).width) / 2);
      const totalY = (height / 1.7).toFixed(2);
      ctx.fillText(total, totalX, totalY);
      ctx.save();
    },
  },
});
</script>

<template>
  <div class="w-full h-full">
    <canvas ref="doughnut-chart"></canvas>
  </div>
</template>
