<script lang="ts">
import { defineComponent } from "vue";
import BaseMaxContent from "@/components/core/base/MaxContent.vue";
import AppHeader from "@/components/core/app/AppHeader.vue";
import AppFooter from "@/components/core/app/AppFooter.vue";

export default defineComponent({
  name: "DefaultLayout",
  components: {
    BaseMaxContent,
    AppHeader,
    AppFooter,
  },
});
</script>

<template>
  <div class="w-full h-full">
    <BaseMaxContent class="py-4">
      <AppHeader />
      <div class="w-full min-h-screen">
        <Nuxt />
      </div>
    </BaseMaxContent>
    <div class="bg-cl-main">
      <AppFooter class="max-w-[80rem] mx-auto py-4" />
    </div>
  </div>
</template>
